* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.app {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .5rem;
  height: 5rem;
  background-color: #1a1a1a;
  margin-bottom: 2rem;
}

header>.logo {
  width: 100%;
  max-width: 3rem;
}

header>ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

header>ul>li {
  margin: 0 1rem;
}

.container {
  width: 100%;
}

ul.lista-filmes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

ul.lista-filmes>li {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

img.film-poster {
  width: 100%;
}

ul.lista-filmes>li > a {
  display: flex;
  background-color: blue;
  color: #fff;
  height: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 50% 0;
  transition: 300ms linear; 
}

ul.lista-filmes>li > a:hover {
  border-radius: 0;
  transition: 100ms linear; 
}